<header class="sidebar-header">

    <div class="first">
        <div class="header-content">
            <a class="blog-title" href="{{@blog.url}}" title="{{@blog.title}}">
                {{@blog.title}}
                <span class="byline">{{@blog.description}}</span>
            </a>
            <div class="social-icons">
				<a href="http://twitter.com/prashanth" title="Prashanth on twitter">k</a>
				<a href="http://facebook.com/hnprashanth" title="Facebook">j</a>
				<a href="https://plus.google.com/+PrashanthHN" rel="author" title="Google Plus">l</a>
				<a href="http://in.linkedin.com/in/hnprashanth" title="LinkedIn">m</a>
				<a href="{{@blog.url}}/rss/" title="Feed">v</a>
            </div>
        </div>
    </div>

    <div class="second">
        <a class="expander" title="Show menu">
        	<div class="expand"><span class="icon"></span>Menu</div>
        	<div class="collapse"><span class="icon collapse"></span>Collapse</div>
        </a>
		<!--div class="cover-wrapper">
			<img class="cover" src="{{@blog.cover}}" alt="" title="" />
		</div-->
        <ul class="main-menu">
                <li class="menu-item">
                    <a href="{{@blog.url}}">Home</a>
                </li>
                <li class="menu-item">
                    <a href="{{@blog.url}}/about/">About Prashanth</a>
                </li>
            </ul>
    </div>
</header>